@charset "utf-8";
/* 兼容的清除浮动 */
.clearfix:after {content: "."; display: block; height: 0;clear: both; visibility: hidden;}
.clearfix { zoom: 1; display: block;}
.container{width: 100%; position: relative;}
/* banner */
.w-banner{width: 100%; height: 520px;background-image:url(/mall/images/freeproduct/second_bg.png); background-repeat:repeat}
.w-banner-img{display: block; width:1200px;  margin:0 auto;}
/* detail */
.w-detail{width: 100%; height: 700px;background-image:url(/mall/images/freeproduct/second_bg.png); background-repeat:repeat}
.w-detail-img{display: block; width:1200px;  margin:0 auto;}
/* 主体 */
.w-main{width: 100%; height: 600px; background-image:url(/mall/images/freeproduct/second_bg.png);background-repeat:repeat;position: relative;margin-top:-1px;}
.sider-bar {z-index: 20; position: fixed; width: 166px; display: none; height: 315px; top: 490px}
.bar-list {margin: 53px 0px 0px 30px; width: 128px;height: 350px;}
.bar-list li { width: 92px; margin-bottom: 11px}
.bar-list li a {line-height: 20px; width: 92px; height: 22px; color: #fff; font-size: 16px;display: block;}
.bar-list li a:hover {color: #d72232}
.bar-list .bar-top {position: relative; width: 84px; display: none; margin-left: 5px;margin-top: 10px;}
.bar-list .bar-top a {line-height: 30px; width: 84px; height: 23px; color: #ff6100; font-size: 14px}
.bar-top .triangle-up {position: relative; width: 16px; display: block; height: 30px; top: -23px; left: -15px}
.bar-top a:hover {color: #d72232}
/* 内容 */
.mainwrap{width: 1200px; height: 100%; margin: 0 auto;}
.zero-box{width: 100%;clear:both;padding-top:20px;}
.zero-header {width: 1200px; margin: 0 auto;height: 70px; position: relative; font-size: 16px;}
.zero-h1 {color: #2782db;font-size: 20px; text-align: center;line-height: 70px; background-image:url(../mall/images/apple/Apple_top.png); background-repeat:no-repeat;background-position:center;}
.zero-list {width: 100%;float: left; background-color: rgba(255,255,255,0.2);}
.zero-list li {width: 31.3%;background-color: #fff;float: left;margin:1%}
.zero-img {width: 100%;height: 275px;text-align: center;}
.zero-img img {width: 260px;height:260px;vertical-align: middle;margin-top:5px;}
a{text-decoration: none;color: #999;outline: none;}
.zero-title {width: 100%;height: 25px; line-height: 23px;text-align: center; font-size: 14px;color: #000000; font-weight:700}
.zero-h1{width: 100%; height: 70px;}
.zero-bargain{width: 100%;height: 20px;font-size: 12px;color: #999999;padding-left: 30px;}
.zero-prices{width: 100%;height: 20px; font-size: 12px;font-weight: bold;color: #FF0000;text-align:center;padding-bottom:8px;}
.pricetag{font-size:16px;}
.noprice{float: right;padding-right: 9%;text-decoration: line-through;}
.zero-price{width: 100%;height: 45px; background: #2782db;line-height: 45px; color: #fff;font-weight: bold;position: relative;}
.paytag{font-size: 12px;padding-left: 9%}
.price span{font-size: 24px;}
.zero-btn{width: 40%;height: 100%;background: #ff4800; display: block;text-align: center;font-size: 16px;position: absolute;top: 0;right: 0;}

